$white: #ffffff;

$brand-0: #003A79;
$brand-1: #011E4C;
$brand-2: #07689F;
$brand-3: #379AC5;
$brand-4: #60C3E2;

$black-0: #1B2B4B;
$black-1: #303030;
$black-2: #828282;
$black-3: #C0C0C0;
$black-4: #17090E;

$green-0: #149B14;
$green-1: #29B51C;
$green-2: #63D24D;
$green-3: #90E872;
$green-4: #F4FBF4;
$green-5: #EAF8E8;
$green-6: #EEF9ED;
$green-7: #E5E5E5;
$green-8: #90E872;

$blue-0: #008ED1;
$blue-1: #006EB3;
$blue-2: #07689F;
$blue-3: #38B7E3;
$blue-6: #ECF5F9;
$blue-7: #F5FAFD;

$red-1: #F0142F;
$red-2: #FA7970;
$red-3: #FBECE9;
$red-4: #FDF3F5;
$red-5: #FCF0ED;

$dark-red-1: #CE0E37;
$dark-red-2: #F64C52;

$gray-1: #131523;
$gray-2: #333752;
$gray-3: #5A607F;
$gray-4: #7E84A3;
$gray-5: #A1A7C4;
$gray-6: #D7DBEC;
$gray-7: #F5F6FA;
$gray-8: #EFEFEF;
$gray-9: #EAEAEA;
$gray-10: #F4F4F4;
$gray-11: #FAFAFA;
$gray-12: #E6E9F4;
$gray-13: #EEEEEE;
$gray-14: #ECE9F1;

$orange-0: #DB6A0E;
$orange-1: #FF8914;
$orange-2: #FFC672;
$orange-3: #FFAF4E;
$orange-4: #FFFBF6;
$orange-5: #FEF7E5;
$orange-6: #FFF9EB;

$purple-1: #A75EF1;